<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="{{.favicon_ico}}">
  <link rel="stylesheet" href="{{.index_css}}">
  <title>WebAuthnTiny</title>
</head>
<body>
  <div id="app"></div>
  <script type="module" src="{{.index_tsx}}"></script>
</body>
</html>
