# vim: ft=sh
# shellcheck shell=bash

# usage: expand_path <rel_path> [<relative_to>]
strict_env
has nix
state_dir="$(direnv_layout_dir)/state"
mkdir -p "$state_dir"
export STATE_DIRECTORY=$state_dir
if [[ ! -f "${state_dir}/session_secret" ]]; then
	head -c 64 </dev/urandom >"${state_dir}/session_secret"
fi
nix_direnv_watch_file default.nix
use flake

PATH_add ./script/node_modules/.bin

export ASSETS_DIRECTORY="${out:-dist}"
