# vim: ft=sh
# shellcheck shell=bash
strict_env
has nix
state_dir="$(direnv_layout_dir)/state"
mkdir -p "$state_dir"
export STATE_DIRECTORY=$state_dir
nix_direnv_watch_file default.nix devserver/default.nix
use flake
layout node
