:root {
  --color-bg: #111111;
  --color-fg: #ffffff;
}
@media (prefers-color-scheme: light) {
  :root {
    --color-bg: #ffffff;
    --color-fg: #111111;
  }
}
body {
  background-color: var(--color-bg);
  color: var(--color-fg);
}
