<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="/style.css">
		<title>WebAuthnTiny</title>
	</head>
	<body>
		<div>
			{% if logged_in %}
				{{ username }} already logged in
			{% else %}
				Authenticating for {{ username }}
			{% endif %}
		</div>
		<script src="/main.js"></script>
	</body>
</html>
