<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="/style.css">
		<title>WebAuthnTiny</title>
	</head>
	<body>
		{% if logged_in %}
			<div id="logged-in-msg">
				User {{ username }} already logged in
			</div>
		{% else %}
			<div id="authenticating-msg">
				Authenticating for {{ username }}
			</div>
		{% endif %}
		<script src="/main.js"></script>
	</body>
</html>
