<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="/style.css">
		<title>WebAuthnTiny</title>
	</head>
	<body>
		<div>
			<button id="add-credential">&#x002B;</button>
			<label>Add credential</label>
		</div>
		<div>
			{% unless credentials == empty %}
				Existing credentials:
				<div>
					{% for cred in credentials %}
						<div>
							<button class="delete-credential" value="{{ cred.id }}">
								&#x2212;
							</button>
							<label for="delete-credential">{{ cred.name }}</label>
						</div>
					{% endfor %}
				</div>
			{% endunless %}
		</div>
		<script src="/main.js"></script>
	</body>
</html>
