<div>
	<span>
		<button id="add-credential">&#x002B;</button>
		<label for="add-credential">Add credential</label>
	</span>
</div>
<div>
	{% unless credentials == empty %}
		<h4>Existing credentials</h4>
		{% for cred in credentials %}
			<span>
				<button id="{{ cred.id }}" class="delete-credential" value="{{ cred.id }}">
					&#x2212;
				</button>
				<label for="{{ cred.id }}">{{ cred.name }}</label>
			</span>
		{% endfor %}
	{% endunless %}
</div>
