<div>
	<span>
		<label for="add-credential">
			<button id="add-credential">&#x002B;</button>
			Add credential
		</label>
	</span>
</div>
<div>
	{% unless credentials == empty %}
		<h4>Existing credentials</h4>
		{% for cred in credentials %}
			<div>
				<label for="{{ cred.id }}">
					<button id="{{ cred.id }}" class="delete-credential" value="{{ cred.id }}">
						&#x2212;
					</button>
					{{ cred.name }}
				</label>
			</div>
		{% endfor %}
	{% endunless %}
</div>
