<div>
	<button id="add-credential">&#x002B;</button>
	<label for="add-credential">Add credential</label>
</div>
<br>
<div>
	{% unless credentials == empty %}
		Existing credentials:
		<div>
			{% for cred in credentials %}
				<div>
					<button id="{{ cred.id }}" class="delete-credential" value="{{ cred.id }}">
						&#x2212;
					</button>
					<label for="{{ cred.id }}">{{ cred.name }}</label>
				</div>
			{% endfor %}
		</div>
	{% endunless %}
</div>
