<!DOCTYPE html>
<head>
	<style>
		:root {
			--color-bg: #222222;
			--color-fg: #eeeeee;
		}
		@media (prefers-color-scheme: light) {
			:root {
				--color-bg: #eeeeee;
				--color-fg: #222222;
			}
		}
		body {
			background-color: var(--color-bg);
			color: var(--color-fg);
		}
	</style>
	<title>WebAuthnTiny</title>
</head>
<html>
<body>
